* {
    font-family: Arial,sans-serif;
    color: #1e0771;
}

h1 {
    font-size: 55px;
    text-shadow: 0px 1px 5px #1e0771;
    color: #fff;
    margin: 0;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin: 0 auto 15px;
    line-height: 59px;
    color: #774c1f;
}

h3 {
    font-size: 30px;
    margin: 0 auto 10px;
    line-height: 40px;
}

a {
    outline: none;
    text-decoration: none;
    font-size: 25px;
}

p {
    font-size: 25px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    font-size: 25px;
    padding: 10px 50px;
    background: #1e0771;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
}



.App {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
            "h h"
            "s d"
            "s m"
            "f f";
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 86px;
}

.Main {
    border: 1px solid rgb(61, 61, 61);
    margin: 5px;
    grid-area: m;
}

.City {
    border: 1px solid rgb(61, 61, 61);
    margin: 5px;
    grid-area: d;
    display: flex;
    padding: 10px;
    background: #866fd7;
    height: max-content;
}

.City p {
    margin-right: 10px;
    align-self: center;
}
.City input {
    font-size: 20px;
    padding: 0 10px;
    width: 100%;
}



.weather__h, .weather__m {
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.weather__h {
    background: #ffa340;
}

.weather__sky {color: #fff;}

.weather__temp {
    font-size: 150px;
    font-weight: 700;
}

.weather__details span {font-weight: 700;}

.Air {padding: 10px;}

.Forecast {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.Forecast div {
    flex: 0 0 auto;
}

.card {
    margin: 10px;
    background: #ffd8af;
    width: 200px;
    text-align: center;
}

.card__title {
    background: #ffa340;
    padding: 10px;
}

.card__title p{
    color: #fff;
}

.card__details {
    padding: 0 10px 10px;
}

.card__description{
   color:#774c1f;
}

.card__temp {
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
}